html,
body {
  padding: 0;
  margin: 0;
}
html,
body,
span,
p,
b,
i,
u,
strong,
em,
del,
ul,
li,
div {
  -webkit-user-drag: none;
  -webkit-user-modify: none;
  -webkit-highlight: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
body {
  font: 15px/2 Helvetica, Arial, sans-serif;
  cursor: default;
}
#container {
  width: 100vw;
  height: 100vh;
  background: #fff;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  background: #333;
}
#container .pages {
  position: absolute;
  width: 200vw;
  height: 100vh;
  background: #fff;
}
#container .pages.animated {
  -webkit-transition: left 0.2s;
}
#container .page {
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
#container .page#portal-page {
  left: 80vw;
  padding-left: 20vw;
}
#container .page h1 {
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  z-index: 50;
  color: #fff;
  text-align: center;
  font-size: 18px;
  margin: 0;
  padding: 0;
  background-image: -webkit-linear-gradient(top, #75818d 0%, #464e5a 100%);
}
#container .page .page-content {
  padding-top: 41px;
  padding-bottom: 5px;
}
#container .page h2 {
  margin: 0;
  padding: 0 16px;
  font-size: 14px;
  line-height: 1.2em;
  margin: 10px 0;
  color: #aaa;
}
.right-edge,
.left-edge {
  position: absolute;
  height: 100vh;
  width: 40px;
  z-index: 10;
  top: 0;
  bottom: 0;
}
.dragging .right-edge,
.dragging .left-edge {
  display: none;
}
.right-edge {
  right: 0;
}
.left-edge {
  left: 0;
}
ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}
ul.subjects li,
ul.portals li {
  display: block;
  padding: 10px;
  line-height: 24px;
  border: 1px solid #ddd;
  border-radius: 3px;
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #fafafa 100%);
  margin: 5px 5px 0 5px;
}
ul.subjects li.dragHover,
ul.portals li.dragHover,
ul.subjects li.focused,
ul.portals li.focused {
  color: white;
  background-image: -webkit-linear-gradient(top, #62baec 0%, #1280d3 100%);
}
.editing ul.subjects li.active,
.editing ul.portals li.active {
  border-color: #aaa;
}
.editing ul.subjects li:not(.active),
.editing ul.portals li:not(.active) {
  opacity: 0.2;
}
ul.subjects li {
  -webkit-transition: background-image 1s linear, color 0.2s, opacity 0.2s, border-color 0.6s;
}
i {
  font-style: normal;
  font-weight: bold;
  color: #888;
  font-size: 12px;
  display: inline-block;
  width: 24px;
  height: 24px;
  background-color: #ddd;
  border-radius: 24px;
  vertical-align: top;
  text-align: center;
  line-height: 24px;
}
ul.portals i {
  position: relative;
  margin-right: 10px;
}
.animated ul.portals i {
  -webkit-transition: left 0.2s;
}
ul.portals .dragHover i {
  background-color: #fff;
}
.drag {
  display: block;
  padding: 10px;
  line-height: 24px;
  border: 1px solid #ddd;
  border-radius: 3px;
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #fafafa 100%);
  -webkit-transition: -webkit-transform 0.5s;
  -webkit-transform-origin: 50% 100% 0;
  -webkit-transform: none;
  box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.1);
  border-color: #aaa;
  display: inline-block;
  text-align: center;
  width: auto;
  height: auto;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-pointer-events: none;
  pointer-events: none;
  white-space: nowrap;
}
.message {
  position: absolute;
  top: 35vh;
  left: 12.5vw;
  width: 75vw;
  height: 30vh;
  line-height: 30vh;
  background: rgba(0, 0, 0, 0.66);
  border-radius: 0.5em;
  font-weight: bold;
  color: #fff;
  text-align: center;
  z-index: 1005;
  -webkit-pointer-events: none;
  pointer-events: none;
}
form {
  margin: 0;
  padding: 0.5em 0;
}
textarea {
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 0 0.5em 0;
  padding: 0;
  border: 1px solid #ddd;
}
