extends layout

block body
  a.left-edge(data-bind="visible: hasPrevious, click: onPrevious")
  a.right-edge(data-bind="visible: hasNext, click: onNext")
  .pages.animated(data-bind="left: left, css: { editing: detailedSubject }")
    #subject-page.page
      h1 Beam...
      .page-content(data-bind="foreach: groupedSubjects")
        h2(data-bind="text: title")
        ul.subjects(data-bind="foreach: items")
          li(data-bind="tap: ko.caller($root.onTap, $data), attr: { title: $data }, css: { active: ko.eq($root.detailedSubject, $data), draggable: ko.not($root.detailedSubject), focused: ko.eq($data, $root.focusedSubject) }")
            span(data-bind="text: $data")
            form(data-bind="slideVisible: ko.eq($root.detailedSubject, $data), submit: $root.onSubmitDetail")
              textarea
              div
                input(type="submit", value="Choose target")
                span  or 
                a(href="#", data-bind="tap: $root.onCancelDetail") cancel
    #portal-page.page
      h1(data-bind="text: secondPageTitle")
      .page-content
        ul.portals(data-bind="foreach: portals")
          li(data-bind="tap: ko.caller($root.onPortalClicked, $data), css: { focused: ko.eq($data, $root.focusedPortal) }")
            i(data-bind="left: $root.iconLeft, text: $index")
            span(data-bind="text: $data")
