extends layout

block body
  .pages.animated
    #subject-page.page
      .right-edge
      h1 Beam...
      h2 Safari
      ul.subjects
        li Subject 1
        li Subject 2
        li Subject 3
      h2 Clipboard
      ul.subjects
        li Subject 4
        li Subject 5
        li Subject 6
        li Subject 7
        li Subject 8
        li Subject 9
        li Subject 10
        li Subject 11
        li Subject 12
    #portal-page.page
      .left-edge
      h1
        span.whenManual.whenDragging
          | Beam
          span X
          |  to...
        span.whenEditingPortals
          | Your Portals
      ul.portals
        li
          i
          | MacBook Pro
        li
          i
          | iPad 3
        li
          i
          | iPad 4
        li
          i
          | Old iPhone
        li
          i
          | My iMac
        li
          i
          | My iMac 2
        li
          i
          | My iMac 3
        li
          i
          | My iMac 4
        li
          i
          | My iMac 5