@viewportWidth: 100vw;
@viewportHeight: 100vh;

html, body {
  padding: 0;
  margin: 0;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  -webkit-user-drag: none;
  -webkit-user-modify: none;
  -webkit-highlight: none;

  -webkit-touch-callout:  none;
  -webkit-user-select:    none;
  -khtml-user-select:     none;
  -moz-user-select:       none;
  -ms-user-select:        none;
  -o-user-select:         none;
  user-select:            none;
}

body {
  font: 15px/2 Helvetica, Arial, sans-serif;
  cursor: default;
}

#container {
  width: @viewportWidth;
  height: @viewportHeight;
  background: #fff;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  background: #333;
  
  .pages {
    position: absolute;
    width: 2 * @viewportWidth;
    height: @viewportHeight;
    background: #fff;
    
    &.animated {
      -webkit-transition: left 0.2s;
    }
  }
  
  .page {
    width: @viewportWidth;
    height: @viewportHeight;
    overflow: scroll;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    
    &#portal-page {
      left: @viewportWidth * 0.8; 
      padding-left: @viewportWidth * 0.2;
    }
    
    h1 {
      position: absolute;
      top: 0;
      right: 0;
      width: @viewportWidth;
      z-index: 50;
      color: #fff;
      text-align: center;
      font-size: 18px;
      margin: 0;
      padding: 0;
      
      background-image: -webkit-linear-gradient(top,
        rgba(117,129,141,1) 0%,
        rgba(70,78,90,1) 100%);
    }
    
    .page-content {
      padding-top: 36px + 5px;
      padding-bottom: 5px;
    }
    
    h2 {
      margin: 0;
      padding: 0 (5px + 1px + 10px);
      font-size: 14px;
      line-height: 1.2em;
      margin: 10px 0;
      color: #aaa;
    }
  }
}

.right-edge, .left-edge {
  position: absolute;
  height: @viewportHeight;
  width: 40px;
  z-index: 10;
  top: 0;
  bottom: 0;
  // background: rgba(0,0,0,0.02);
  
  .dragging & {
    display: none; 
  }
}

.right-edge { right: 0; }
.left-edge { left: 0; }

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.panel() {
  display: block;
  
  padding: 10px;
  line-height: 24px; 

  border: 1px solid #ddd;
  border-radius: 3px;
  
  background-image: -webkit-linear-gradient(top,
      rgba(255,255,255,1) 0%,
      rgba(250,250,250,1) 100%);
}

ul.subjects, ul.portals {
  li {
    .panel();
    margin: 5px 5px 0 5px;
      
    &.dragHover, &.focused {
      color: white;
      background-image: -webkit-linear-gradient(top,
        rgba(98,186,236,1) 0%,
        rgba(18,128,211,1) 100%);
    }
    
    .editing &.active {
      border-color: #aaa; 
    }
    
    .editing &:not(.active) {
      opacity: 0.2;
    }
  }
}

ul.subjects {
  li {
    -webkit-transition: background-image 1s linear, color 0.2s, opacity 0.2s, border-color 0.6s;
  }
}

i {
  font-style: normal;
  font-weight: bold;
  color: #888;
  font-size: 12px;
  display: inline-block;
  width: 24px;
  height: 24px;
  background-color: #ddd;
  border-radius: 24px;
  vertical-align: top;
  text-align: center;
  line-height: 24px;
}

ul.portals {
  
  i {
    position: relative;
    margin-right: 10px;
    
    .animated & {
      -webkit-transition: left 0.2s;
    }
  }
  
  .dragHover i {
    background-color: #fff; 
  }
}

.drag {
  .panel();
  -webkit-transition: -webkit-transform 0.5s;
  -webkit-transform-origin: 50% 100% 0;
  -webkit-transform: none;
  box-shadow: -2px 2px 5px rgba(0,0,0,0.1);
  border-color: #aaa;
  display: inline-block;
  text-align: center;
  width: auto;
  height: auto;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-pointer-events: none;
  pointer-events: none;
  white-space: nowrap;
}

.message {
  position: absolute;
  top: (@viewportHeight * 0.7 * 0.5);
  left: (@viewportWidth * 0.25 * 0.5);
  width: (@viewportWidth * 0.75);
  height: (@viewportHeight * 0.3);
  line-height: (@viewportHeight * 0.3);
  background: rgba(0,0,0,0.66);
  border-radius: 0.5em;
  color: #fff;
  font-weight: bold;
  color: #fff;
  text-align: center;
  z-index: 1005;
  -webkit-pointer-events: none;
  pointer-events: none;
}

form {
  margin: 0;
  padding: 0.5em 0;
}

textarea {
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 0 0.5em 0;
  padding: 0;
  border: 1px solid #ddd;
}